* {
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 20px auto;
    width: 600px;
    border: 2px solid #999;
}

.content h1 {
    color: rgb(160, 21, 21);
    text-align: center;
}

.content div.row {
    margin-top: 20px;
}

.content div.row samp {
    display: inline-block;
    width: 255px;
    text-align: right;
}


.content div.row input[type=text] {
    padding: 3px 5px;
}

.content div.row input[type=submit] {

    padding: 3px 5px;
    display: block;
    margin: 0px auto 20px auto;
}
